@model MairieDelmas.Gestion.EMP.Models.Promotion.Promotion

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NifCIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NifCIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AncienPoste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AncienPoste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AncienService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AncienService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NouveauPoste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NouveauPoste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NouveauService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NouveauService)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePromotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemarquePromotion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemarquePromotion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PromotionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
