@model IEnumerable<MairieDelmas.Gestion.EMP.Models.Poste.Poste>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomPoste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomPoste)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PosteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PosteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PosteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
