@model MairieDelmas.Gestion.EMP.Models.Corespondance.Corespondance

@{
    ViewData["Title"] = "Details";
 //   Layout = "~/Areas/Identity/Pages/_ViewStart.cshtml";
}
<div class=" bg-primary text-uppercase text-white shadow">
    <img src="~/MD logo png copy.png" width="60" alt="Alternate Text" /> <h2 class="d-inline">Corespondance</h2>
</div>
<div class="container">
    <h1>Details</h1>

    <div>
        <h4>Information sur La Corespondance</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NomComplet)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NomComplet)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Institution)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Institution)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Objet)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Objet)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Telephone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Daterecu)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Daterecu)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Destination)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Destination)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Suivi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Suivi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Remarque)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Remarque)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.CorespondanceId">Edit</a> |
        <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
    </div>
</div>
