@model MairieDelmas.Gestion.EMP.Models.Employe.Employe

@{
    ViewData["Title"] = "Delete";
}
<div class="card-header bg-dark text-uppercase text-white">
    <h1>Delete</h1>

</div>
<h3>Voulez -vous vraiment supprimer cet Employe?</h3>
<div>
    <h4>Employe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeContrat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeContrat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LieudeNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LieudeNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationalite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationalite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaysdeNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaysdeNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituationFamiliale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituationFamiliale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePersaCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePersaCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEnfants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEnfants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIFCIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIFCIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emploi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emploi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cadre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cadre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Portable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Portable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonneAPrevenir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonneAPrevenir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PortablePersonneAPrevenir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PortablePersonneAPrevenir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Liens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Liens)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarteIdentification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarteIdentification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PermisConduire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PermisConduire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allergies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Maladies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Maladies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarques)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarques)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatederniereVisite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatederniereVisite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEntreaLaMairie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEntreaLaMairie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompteBancaireBNC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompteBancaireBNC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutreFormation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutreFormation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtudeEncour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtudeEncour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etat)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
