@model IEnumerable<MairieDelmas.Gestion.EMP.Models.Employe.Employe>

@{
    ViewData["Title"] = "ListeEmployeRevoque";
}

<div class=" bg-primary text-uppercase text-white shadow">
    <img src="~/MD logo png copy.png" width="60" alt="Alternate Text" />  <h2 class="d-inline">Employes Mairie de Delmas</h2>
</div>

<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" asp-action="Recherche">Information Personelles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="RechercheEmployeActif">Informations Complementaires </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="AutreInformation">Autres Informations </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="RechercheDocument">Documents de Dossiers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  asp-controller="Promotions" asp-action="ListePromotion">Promotion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-action="ListeEmployeInActif">Changement d'Etat  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger text-white">  @ViewBag.EmplInactif</span> </a>
        </li>
    </ul>
</div>
<div class="row pl-2 ">
    <div class="col-md-12 p-3 ">
        <form asp-action="ListeEmployeInActif" method="get">
          
        </form>
    </div>

</div>
<fieldset class="border border-primary pt-2  ">
    <legend class="w-auto text-primary">  <a asp-action="Create" class="btn btn-outline-light border-0"><img style="width:40px" src="~/person-plus.svg" alt="Alternate Text" /> </a></legend>
    <table class="table table-striped  table-sm table-hover">
        <thead class="table-primary text-center">
            <tr style="font-size:small">

                <th>
                    @Html.DisplayNameFor(model => model.TypeContrat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenom)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.NIFCIN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Emploi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cadre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompteBancaireBNC)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Etat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatechangementEtat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarque)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="font-size:small" class="text-center">

                    <td>
                        @Html.DisplayFor(modelItem => item.TypeContrat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.NIFCIN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emploi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Service)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cadre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompteBancaireBNC)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Etat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatechangementEtat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarque)
                    </td>

                    <td>
                        <a asp-action="ChangementEtat" asp-route-id="@item.EmployeId"><img src="~/arrow-clockwise.svg" alt="Alternate Text" /> </a>
                        <a asp-action="Edit" asp-route-id="@item.EmployeId"><img src="~/search.svg" alt="Alternate Text" /> </a>
                        @*<a asp-action="Details" asp-route-id="@item.EmployeId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.EmployeId">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>