@model IEnumerable<MairieDelmas.Gestion.EMP.Models.Employe.Employe>

@{
    ViewData["Title"] = "RechercheInfoPersonel";
}


<div class="card-header bg-dark text-uppercase text-white">
    <img src="~/MD logo png copy.png" width="100" alt="Alternate Text" />  <h1>Prendre un Conge </h1>
</div>
<div class="d-flex mb-1 ">

    <div class="p-2">
        <a asp-action="Create"><img style="width:40px" src="~/person-plus.svg" alt="Alternate Text" /> </a>
    </div>
</div>
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" asp-action="Recherche">Information Personelles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-action="RechercheEmployeActif">Informations Complementaires</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-action="AutreInformation">Autres Informations</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  asp-action="RechercheInfoPersonel">Documents de Dossiers</a>
        </li>
    </ul>
</div>
<br />
<div class="row ">
    <div class="col-md-8">
        <form asp-action="RechercheInfoPersonel" method="get">
            <div class="form-group">
                <input type="text" name="Recherche" placeholder="Recherche..." />
                <button type="submit" value="Filter"> <img src="~/search.svg" alt="Alternate Text" /></button>
            </div>
        </form>
    </div>

</div>
<br />
<div class="cellspacing=" 0" cellpadding="0">
    <table class="table table-striped">
        <thead class="table-dark text-center">
            <tr style="font-size:small">


                <th>
                    @Html.DisplayNameFor(model => model.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prenom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Allergies)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatederniereVisite)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateEntreaLaMairie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompteBancaireBNC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AutreFormation)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EtudeEncour)
                </th>

                <th>Update</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="font-size:small" class="text-center">

                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Allergies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DatederniereVisite.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEntreaLaMairie.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompteBancaireBNC)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AutreFormation)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EtudeEncour)
                    </td>


                    <td>
                        <a asp-action="EnregistrerAutreInformation" asp-route-id="@item.EmployeId"><img class="search " src="~/zoom-in.svg" alt="Alternate Text" /></a>
                        <a asp-action="" asp-route-id="@item.EmployeId"><img class="detail" src="~/eye.svg" alt="Alternate Text" /></a>
                        <a asp-action="Delete" asp-route-id="@item.EmployeId"><img class="delete" src="~/trash.svg" alt="Alternate Text" /></a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div> 